---
layout: tagpage
title: "Reading Note on verification"
tag: verification
---
